body{
    background-image: url(disclaimer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

    padding: 0;
}



.ist{
    color: rgb(122, 0, 0.8);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 640px;
    margin-top: 30px;
    background-color:  rgba(0, 0, 0, 0.6);
    padding: 10px 10px;
    
    width: 200px;
    
   
}
