body{
    background-image:url(village.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}
#clock{
    font-family: monospace;
    font-size: 104px;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
    margin-top: -200px;
}